<div class="bottomNav">
        <a href="profile"><img src="../../static/images/Logo/SVG/loginIcon.svg"></a>
        <a href="chatlist"><img src="../../static/images/Logo/SVG/chat.svg"></a>
        <a href=""><img src="../../static/images/Logo/SVG/notification.svg"></a>
      </div>