<div class="bottomNav">
        <a href=""><img src="../../static/images/Logo/SVG/loginIcon.svg"></a>
        <a href=""><img src="../../static/images/Logo/SVG/nateFilter.svg"></a>
        <a href=""><img src="../../static/images/Logo/SVG/nateFilter.svg"></a>
      </div>