
    <form class="mainform" action="index" method="POST">
        <h2>Aanmelden</h2>
        <input type="Email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Wachtwoord">
        <input type="submit">
        <a href="../registration">Of registreer nu een account</a>
    </form>