
    <form action="matches">
        <h2>Aanmelden</h2>
        <input type="text" placeholder="gebruikersnaam">
        <input type="password" placeholder="wachtwoord">
        <input type="submit">
        <a href="../registration">Of registreer nu een account</a>
    </form>