<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nate registratie</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../main.css">
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700" rel="stylesheet">
    </head>
    <body>
            <div class="backgroundgif"></div>
            <header>
                <a href="/"><img src="images/Logo/SVG/nateLogo.svg"></a>
                <h1>Registration</h1>
                <a href="/"><img src="images/Logo/SVG/loginIcon.svg"></a>
                    </header>