<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mijn Profiel</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/static/images/Logo/1x/favicon.png" />
        <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700" rel="stylesheet">
    </head>
    <body>
        <div class="backgroundimage"></div>
        <header>
                <a href="/"><img src="images/Logo/SVG/nateLogout.svg"></a>
                <h1>Profiel</h1>
                <a href="matches"><img src="images/Logo/SVG/chat.svg"></a>
        </header>