<% include partials/registrationHeader %>
  <div class="container">
            <div class="matches">
                <a href="completion"><img src="images/indi.jpeg"></a>
                    <div class="avatarhead">
                        <h3>Indiana Jones</h3>
                        <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                    </div>
                </div>

                <div class="matches">
                    <img src="images/tony.jpg">
                        <div class="avatarhead">
                            <h3>Tony stark</h3>
                            <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                        </div>
                    </div>

                    <div class="matches">
                        <img src="images/cap.png">
                            <div class="avatarhead">
                                <h3>captain america</h3>
                                <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                            </div>
                        </div>
                    </div>
<% include partials/footer %>
