<% include partials/headers/chatheader %>
        <div class="chatlinks">
            <a href="matchprofile.html"><img src="images/avatars/indi.jpeg"></a>
            <p>Hi! Ik ben stephan, leuk om kennis te maken!</p>
        </div>

        <div class="chatrechts">
            <img src="images/avatars/tony.jpg">
            <p>Hi! Ik ben Judith, wat leuk dat je me een berichtje stuurt!</p>
        </div>

        <div class="chatinput">
            <input type="text" placeholder="stuur een bericht"> 
            <input type="submit" value="verzend">
        </div>
        <% include partials/footer %>
