<% include partials/registrationHeader %>
        <div class="container">
            <div class="matches">
                <a href="registration"><img src="images/tick.png"></a>
                    <div class="avatarhead">
                        <h3>Algemene informatie</h3>
                        <p>Hier heb je de algemene informatie compleet ingevuld. Klik om aan te passen.</p>
                    </div>
                </div>

                <div class="matches">
                    <a href="interests"><img src="images/tick.png"></a>
                        <div class="avatarhead">
                            <h3>Persoonlijke voorkeuren</h3>
                            <p>Hier heb je jouw persoonlijke voorkeuren toegevoegd. Klik om aan te passen.</p>
                        </div>
                    </div>

                    <div class="matches">
                        <a href="avatar"><img src="images/tick.png"></a>
                            <div class="avatarhead">
                                <h3>Avatar keuze</h3>
                                <p>Hier heb je jouw avatar gekozen. Klik om aan te passen.</p>
                            </div>
                        </div>
                    </div>
                    <div class="button">
                        <a href="matches">Bevestig</a>
                    </div>
                    <% include partials/footer %>