<% include partials/headers/registrationHeader %>
        <form action="avatar">
                        <fieldset>
                           <legend>Mijn interesses:</legend>
                            <input type="number" id="leeftijd" placeholder="leeftijd" required/>
                            <label for="avatar">Waar ben je in geinteresseerd</label>
                            <select name="avatar" id="avatar">
                                <option value="Geen geselecteerd">geen geselecteerd</option>
                                <option value="Man op zoek naar vrouw">Man op zoek naar vrouw</option>
                                <option value="Vrouw op zoek naar man">Vrouw op zoek naar man</option>
                                <option value="Vrouw op zoek naar vrouw">Vrouw op zoek naar vrouw</option>
                                <option value="Man op zoek naar man">Man op zoek naar man</option>
                            </select>
                            <label for="genre">Kies hier je favoriete film.</label>
                            <input type="text" id="favfilm" placeholder="Favoriete film"/>
                            <label for="genre">Kies hier je favoriete film genre.</label>
                            <select name="avatar" id="avatar">
                                <option value="Geen geselecteerd">geen geselecteerd</option>
                                <option value="syfy">syfy</option>
                                <option value="romance">romance</option>
                                <option value="adventure">adventure</option>
                                <option value="action">action</option>
                                <option value="horror">horror</option>
                            </select>
                            <input type="submit" value="volgende">
                        </fieldset>
        </form>
        <% include partials/footer %>