<% include partials/headers/logoutHeader %>
                    <form class="mainform" action="logout" method="POST">
                        <fieldset>
                           <legend>Weet u zeker dat u wilt uitloggen</legend>
                            <input type="submit" value="logout">
                        </fieldset>
        </form>
        
        <% include partials/footer %>