<% include partials/matchHeader %>
        <div class="container">
            <div class="matches">
                <a href="matchprofile"><img src="images/indi.jpeg"></a>
                    <div class="avatarhead">
                        <h3>Indiana Jones</h3>
                        <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                    </div>
                </div>

                <div class="matches">
                        <a href="chataccept"><img src="images/tony.jpg"></a>
                        <div class="avatarhead">
                            <h3>Tony stark</h3>
                            <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                        </div>
                    </div>

                    <div class="matches">
                        <img src="images/cap.png">
                            <div class="avatarhead">
                                <h3>captain america</h3>
                                <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                            </div>
                        </div>
                    <div class="matches">
                        <img src="images/cap.png">
                            <div class="avatarhead">
                                <h3>captain america</h3>
                                <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                            </div>
                        </div>
                        <div class="matches">
                            <img src="images/cap.png">
                                <div class="avatarhead">
                                    <h3>captain america</h3>
                                    <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                                </div>
                            </div>
                            <div class="matches">
                                <img src="images/cap.png">
                                    <div class="avatarhead">
                                        <h3>captain america</h3>
                                        <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                                    </div>
                                </div>
                                <div class="matches">
                                    <img src="images/cap.png">
                                        <div class="avatarhead">
                                            <h3>captain america</h3>
                                            <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                                        </div>
                                    </div>
                                    <div class="matches">
                                        <img src="images/cap.png">
                                            <div class="avatarhead">
                                                <h3>captain america</h3>
                                                <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                                            </div>
                                        </div>
                                        <div class="matches">
                                            <img src="images/cap.png">
                                                <div class="avatarhead">
                                                    <h3>captain america</h3>
                                                    <p>Heldhaftig, bijdehand en heeft altijd zn praatje klaar</p>
                                                </div>
                                            </div>
                    </div>
                    <% include partials/bottomNav %>
                    <% include partials/footer %>
