<% include partials/headers/matchHeader %>
        <div class="profileimage">
            <img src="images/avatars/indi.jpeg">
        </div>
        <div class="description">
            <h1>Indiana Jones, 23</h1>
            <p>Hi! Ik ben een groot Indiana Jones fan en kan mezelf ook erg vinden in zijn karakter eigenschappen. Ik ben Loyaal, grappig en nieuwschierig.</p>
            <a href="chat">Stuur een bericht</a>
            <a href="request">Profielfoto request</a>
        </div>
        <% include partials/bottomNav %>
<% include partials/footer %>
        
