<% include partials/headers/registrationHeader %>
                    <form class="mainform" action="/">
                            <!-- <form action="registration2"> -->
                        <fieldset>
                           <legend>Oeps! u bent nog niet ingelogd</legend>
                            <input type="submit" value="log hier in">
                        </fieldset>
        </form>
        
        <% include partials/footer %>