<% include partials/headers/registrationHeader %>
        <form class="mainform" action="registration2" method="POST">
                        <fieldset>
                           <legend>Hi <%= req.session.name %>, we hebben nog wat info van je nodig.</legend>
                            <label for="profielfoto">Kies hier je echte profielfoto</label>
                            <input type="file" id="profielfoto" name="profielfoto" accept="image/png, image/jpeg" name="profileimg">
                            <textarea name="description" cols="49" rows="5" placeholder="Vertel iets over jezelf"></textarea>
                            <input type="submit" value="volgende">
                        </fieldset>
        </form>
        <% include partials/footer %>
        