<% include partials/matchHeader %>

        <section class="warning">
            <p>Je staat op het punt om een profielfoto request te sturen naar Indiana Jones, 23.
                Weet je zeker dat je dit wilt doen?
                Deze persoon krijgt hier een melding van.</p>
        </section>
        <div class="profileimage">
            <img src="images/indi.jpeg">
            <div class="description">
            <h1>Toestemming vereist:</h1>
            <p>Indiana Jones moet toestemming geven voordat jij haar echte profielfoto kan zien.</p>
            <a href="requestsend">Profielfoto request</a>
            </div>
        </div>
<% include partials/footer %>
        
