<% include partials/headers/refreshHeader %>

        <section class="confirm">
            <p>De request is verstuurd naar Indiana Jones, 23! Je wordt teruggestuurd naar de matches pagina.</p>
        </section>
        <div class="requestprofileimage">
            <img src="images/avatars/indi.jpeg">
            <div class="description">
            <h1>Toestemming vereist:</h1>
            <p>Indiana Jones moet toestemming geven voordat jij haar echte profielfoto kan zien.</p>
            <a href="">Profielfoto request</a>
            </div>
        </div>
        
<% include partials/footer %>