
body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url("../images/geeks.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
}

.backgroundimage {
    background-image: url("../images/theater.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-top: -5em;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: fixed;
    filter: blur(20px);
    transform: scale(1.2); 
}

.backgroundgif {
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 110%;
    width: 100%;
    z-index: -1;
    position: fixed;
    filter: blur(5px);
    transform: scale(1.1); 
    margin-top: -6em;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 71, 71, 0.8);
    color: white;
    width: 100%;
    box-shadow: 0px 17px 20px -11px rgba(0,0,0,0.6);
    height: 4.5em;
}

header h1 {
    display: flex;
    font-weight: 400;
}

header a {
    display: flex;
    font-weight: 100;
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin: 1em;

}

header a img {
    width: 2em;
    height: 2em;
    margin-top: -0.3em;
}

header a img:nth-child(3) {
    height: 1em;
}

.mainheader {
    display: flex;
    justify-content: center;
}

.mainHeader img {
    width: 5.5em;
    height: 5.5em;
    margin: auto;
    margin-top: -0.5em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(58, 58, 58, 0.95);
    /* margin: 1.5em; */
    width: 22em;
    margin: auto;
    margin-top: 8em;
    padding-top: 1em;
    /* border-radius: 0.5em; */
}

form input {
    margin-bottom: 1em;
    width: 16em;
    height: 1.5em;
    /* border-radius: 0.5em; */
    font-size: 1.2em;
    /* padding: 0.4em; */
    border: none;
    inset: none;
    padding-left: 0.5em;
    background-color: rgb(75, 75, 75);
    color: white;
    font-weight: 100;
    -webkit-appearance: none;
}

form textarea {
    margin-bottom: 1em;
    width: 16em;
    /* border-radius: 0.5em; */
    font-size: 1.2em;
    /* padding: 0.4em; */
    border: none;
    inset: none;
    padding-left: 0.5em;
    background-color: rgb(75, 75, 75);
    color: white;
    font-weight: 100;
    font-family: inherit;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.425);
    font-weight: 200;
}

form textarea::placeholder {
    color: rgba(255, 255, 255, 0.425);
    font-weight: 200;
}

form input[type=submit] {
    width: 16.5em;
    color: white;
    height: 1.5em;
    background-color: rgb(255, 71, 71, 0.8);
    font-weight: 200;
    -webkit-appearance: none;
}

form input[type=file] {
    display: flex;
    padding-top: 0.5em;
    font-weight: 100;
}

form input[type=range] {
    margin-top: 0.5em;
}

form img {
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}

output {

    display: flex;
    color: white;
    font-size: 1.3em;
    margin-top: -2.05em;
    padding-left: 3.6em;
    height: 1em;
    font-weight: 300;
}

form select {
    margin-bottom: 1em;
    width: 20em;
    background-color: rgb(75, 75, 75);
    color: white;
    border: none;
    padding: 0.5em;
    font-size: 1em;
    font-weight: 200em;
    border-radius: 0;
    -webkit-appearance: none;
}

h2 {
    font-weight: 400;
    margin-left: -7.5em;
    color: white;
}

form a {
    margin: 1.5em;
    text-decoration: none;
    color: white;
}

form fieldset {
    display: flex;
    flex-direction: column;
    border: 0;
}

form fieldset legend {
    color: white;
    font-size: 1.5em;
    font-weight: 200;
    margin-bottom: 1em;
}

form label {
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 1em;
    max-width: 16em;
}

.row {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(58, 58, 58, 0.8);
}

.row img {
    width: 7em;
    height: 7em;
    margin: 1em;
    border-radius: 5em;
}

.avatarhead {
    display: flex;
    flex-direction: column;
    width: 12em;
}

.avatarhead p {
    margin-top: -0.1em;
    padding-right: 1em;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em;
}

.button {
    width: 16.5em;
    height: 2.5em;
    /* background-color: rgb(255, 71, 71, 0.8); */
    border: 0.1em solid;
    border-color: rgb(255, 71, 71, 0.8);
    font-weight: 200;
    margin: auto;
    margin-top: 6em;
}

.button:hover {
    background-color: rgb(255, 71, 71, 0.8);
}

.button a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    padding: 0.65em;

}

.matches {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: rgb(58, 58, 58, 0.6);
    margin: 0.5em;
    margin-top: 5em;
    margin-bottom: -3em;
    max-width: 24.5em;
    border-radius: 0.5em;
}

.matches img {
    width: 7em;
    height: 7em;
    margin: 1em;
    border-radius: 5em;
}

/* .profileimage {  */
    /* width: 100%;  */
    /* background-color: rgb(58, 58, 58, 0.8); */
/* } */

.profileimage img {
    display: flex;
    /* width: 27.5em; */
    width: 100%;
    max-width: 20em;
    max-height: 20em;
    margin: auto;
    /* margin-bottom: -1em; */
    z-index: 1;
    border-radius: 50em;
    padding-top: 1em;
    margin-top: 4.5em;
    /* box-shadow: 13px 20px 32px -16px rgba(0,0,0,0.75); */

}

.requestprofileimage {
    width: 100%;
    /* background-color: rgb(58, 58, 58, 0.8); */
}

.requestprofileimage img {
    display: flex;
    /* width: 27.5em; */
    width: 100%;
    max-width: 20em;
    max-height: 20em;
    margin: auto;
    /* margin-bottom: -1em; */
    z-index: 1;
    border-radius: 50em;
    padding-top: 1em;
    /* margin-top: 4.5em; */
    /* box-shadow: 13px 20px 32px -16px rgba(0,0,0,0.75); */

}

.description {
    color: white;
    /* background-color: rgb(58, 58, 58, 0.8); */
    padding: 1em;
    height: 100%;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
}

.description a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 19em;
    border: 0.1em solid;
    border-color: rgb(255, 71, 71, 0.8);
    font-weight: 200;
    margin: auto;
    color: white;
    text-decoration: none;
    padding: 1em;
    margin-top: 1em;
}

.description a:hover {
    background-color: rgb(255, 71, 71, 0.8);
}

.description h1 {
    max-width: 23em;
    padding-right: 2em;
    margin: auto;
    margin-bottom: 1em;
}

.description p {
    /* max-width: 19em;
    padding-right: 2em;
    margin: auto; */
    /* padding-right: 2em; */
    max-width: 21em;
    margin: auto;
    margin-bottom: 1em;
}

.chatlinks {
    display: flex;
    flex-direction: row;
    width: 15em;
    background-color: rgb(58, 58, 58, 0.8);
    margin: 0.5em;
    border-radius: 1em;
    margin-top: 5em;
}

.chatlinks p {
    color: white;
    font-weight: 300;
    padding-right: 0.5em;
}

.chatlinks img {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    margin: 0.5em;
    margin-top: 1em;
}

.chataccept {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50em;
    width: 95%;
    background-color: rgb(58, 58, 58, 0.8);
    border-radius: 1em;
    margin: auto;
    margin-top: 15em;
}

.chataccept p {
    color: white;
    font-weight: 300;
    padding-right: 0.5em;
}

.chataccept img {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    margin: 0.5em;
    margin-top: 1em;
}

.responsebuttons a {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 5em;
    border: 0.1em solid;
    border-color: rgb(255, 71, 71, 0.8);
    font-weight: 200;
    /* margin: auto; */
    color: white;
    text-decoration: none;
    padding: 0.5em;
    margin: 0.5em;
}

.chataccept a:hover {
    background-color: rgb(255, 71, 71, 0.8);
}


.chatrechts {
    display: flex;
    flex-direction: row;
    width: 15em;
    background-color: rgb(58, 58, 58, 0.8);
    margin: 0.5em;
    border-radius: 1em;
    float: right;
}

.chatrechts p {
    color: white;
    font-weight: 300;
}

.chatrechts img {
    width: 3em;
    height: 3em;
    border-radius: 5em;
    margin: 0.5em;
    margin-top: 1em;
}

.chatinput {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: white; */
    height: 3em;
    /* padding: 1em; */
}

.chatinput [type=text] {
    display: flex;
    width: 65%;
    height: 2em;
    border-radius: 1em;
    border: none;
    background-color: rgb(88, 88, 88, 0.8);
    color: white;
    padding-left: 0.5em;
    margin: auto;
    font-size: 1em;
}

.chatinput [type=text]:focus {
    background-color: rgb(148, 148, 148, 0.8);
}

.chatinput [type=submit] {
    display: flex;
    /* width: 10em; */
    height: 2em;
    margin: auto;
    color: white;
    background-color: rgb(255, 71, 71, 0.8);
    font-weight: 200;
    border: none;
    font-size: 1em;
    -webkit-appearance: none;
    /* margin-left: 1em; */
    border-radius: 1em;
    padding: 0.5em;
}

.request {
    display: flex;
    margin: auto;
    position: fixed;
    bottom: 0;
}

.warning {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 71, 71, 0.8);
    color: white;
    margin: auto;
    padding: 1em;
    margin-top: 4.5em;
    /* z-index: -10; */
}

@keyframes colorchange {
    0%   {background-color: rgb(255, 71, 71, 0.8);}
    100% {background-color: rgba(138, 255, 71, 0.8);}
  }

  /* @-webkit-keyframes colorchange {
    0%   {background-color: rgb(255, 71, 71, 0.8);}
    100% {background-color: rgba(138, 255, 71, 0.8);}
  } */

.confirm {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 71, 71, 0.8);
    color: white;
    margin: auto;
    margin-top: 4.5em;
    padding: 1em;
    z-index: -10;
    animation-name: colorchange;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /* -webkit-animation-name: colorchange;
    -webkit-animation-duration: 4s;
    -webkit-animation-fill-mode: forwards; */
}

.bottomNav {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* background-color: rgb(255, 71, 71); */
    background-color: rgb(58, 58, 58);
    /* background-color: rgb(148, 148, 148); */
}

.bottomNav img{
    width: 2.5em;
    padding: 0.3em;
}

.cat {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 20em;
    height: 20em;
    margin-top: 5em;
}


